In [15]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [18]:
df = pd.read_csv("2.csv")
pd.set_option('display.max_columns', None)
df

,Unnamed: 0,id,Date,number of bedrooms,number of bathrooms,living area,lot area,number of floors,waterfront present,number of views,condition of the house,grade of the house,Area of the house(excluding basement),Area of the basement,Built Year,Renovation Year,Postal Code,Lattitude,Longitude,living_area_renov,lot_area_renov,Number of schools nearby,Distance from the airport,Price
0,0,6.762811e+09,42491.0,4.0,2.50,2920.0,4000.0,1.5,0.0,0.0,5.0,8.0,1910.0,1010.0,1909.0,0.0,122004.0,52.8878,-114.470,2470.0,4000.0,2.0,51.0,1400000.0
1,1,6.762811e+09,42491.0,5.0,2.75,2910.0,9480.0,1.5,0.0,0.0,3.0,8.0,2910.0,0.0,1939.0,0.0,122004.0,52.8852,-114.468,2940.0,6600.0,1.0,53.0,1200000.0
2,2,6.762813e+09,42491.0,4.0,2.50,3310.0,42998.0,2.0,0.0,0.0,3.0,9.0,3310.0,0.0,2001.0,0.0,122005.0,52.9532,-114.321,3350.0,42847.0,3.0,76.0,838000.0
3,3,6.762813e+09,42491.0,3.0,2.00,2710.0,4500.0,1.5,0.0,0.0,4.0,8.0,1880.0,830.0,1929.0,0.0,122006.0,52.9047,-114.485,2060.0,4500.0,1.0,51.0,805000.0
4,4,6.762813e+09,42491.0,3.0,2.50,2600.0,4750.0,1.0,0.0,0.0,4.0,9.0,1700.0,900.0,1951.0,0.0,122007.0,52.9133,-114.590,2380.0,4750.0,1.0,67.0,790000.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
14614,14614,6.762830e+09,42734.0,2.0,1.50,1556.0,20000.0,1.0,0.0,0.0,4.0,7.0,1556.0,0.0,1957.0,0.0,122066.0,52.6191,-114.472,2250.0,17286.0,3.0,76.0,221700.0
14615,14615,6.762830e+09,42734.0,3.0,2.00,1680.0,7000.0,1.5,0.0,0.0,4.0,7.0,1680.0,0.0,1968.0,0.0,122072.0,52.5075,-114.393,1540.0,7480.0,3.0,59.0,219200.0
14616,14616,6.762831e+09,NaN,2.0,1.00,1070.0,6120.0,1.0,0.0,0.0,3.0,6.0,1070.0,0.0,1962.0,0.0,122056.0,52.7289,-114.507,1130.0,6120.0,2.0,64.0,209000.0
14617,14617,6.762831e+09,42734.0,4.0,1.00,1030.0,6621.0,1.0,0.0,0.0,4.0,6.0,1030.0,0.0,1955.0,0.0,122042.0,52.7157,-114.411,1420.0,6631.0,3.0,54.0,205000.0
14618,14618,6.762831e+09,42734.0,3.0,1.00,900.0,4770.0,1.0,0.0,0.0,3.0,6.0,900.0,0.0,1969.0,2009.0,122018.0,52.5338,-114.552,900.0,3480.0,2.0,55.0,146000.0

In [16]:
fig, ax = plt.subplots(figsize=(10, 6))
ax.hist(df["lot area"], bins=10)
ax.set_title('Lot Area Taqqoslash')
ax.set_xlabel('Lot Area')
ax.set_ylabel('Frekans')
ax.grid(False)

plt.show()

C:\Users\HP\AppData\Local\Temp\ipykernel_15636\3051506900.py:8: UserWarning: FigureCanvasAgg is non-interactive, and thus cannot be shown
  plt.show()

In [21]:
df.columns

Index(['Unnamed: 0', 'id', 'Date', 'number of bedrooms', 'number of bathrooms',
       'living area', 'lot area', 'number of floors', 'waterfront present',
       'number of views', 'condition of the house', 'grade of the house',
       'Area of the house(excluding basement)', 'Area of the basement',
       'Built Year', 'Renovation Year', 'Postal Code', 'Lattitude',
       'Longitude', 'living_area_renov', 'lot_area_renov',
       'Number of schools nearby', 'Distance from the airport', 'Price'],
      dtype='object')

In [19]:
df.isnull().sum()

Unnamed: 0                                 0
id                                       298
Date                                     423
number of bedrooms                        84
number of bathrooms                      517
living area                              243
lot area                                 128
number of floors                         322
waterfront present                       417
number of views                          216
condition of the house                   326
grade of the house                       256
Area of the house(excluding basement)    499
Area of the basement                     536
Built Year                                53
Renovation Year                          317
Postal Code                              518
Lattitude                                 77
Longitude                                475
living_area_renov                        449
lot_area_renov                           300
Number of schools nearby                 411
Distance from the airport                191
Price                                    570
dtype: int64

In [22]:
df["Renovation Year"].value_counts()

Renovation Year
0.0       13651
2014.0       74
2013.0       30
2003.0       24
2005.0       23
          ...
1946.0        1
1967.0        1
1944.0        1
1959.0        1
1962.0        1
Name: count, Length: 68, dtype: int64